.jumbotron {
  background-image: url("https://gtmetrix.com/reports/jim-walsh.github.io/ga95gve6/pagespeed/light-grey-background-05_c24e3292f3df02431999db00aea256f8.jpg");
  background-size: cover;
}

body {
  background-color: #c1d6c2;
}

h1, h2, h3, h4, h5, p {
  color: black;
  font-family: 'Source Serif Pro', serif;;
}

.navbar {
  padding: 0rem 0rem;
}

p {
  font-size: 20px;
}

h3 {
  font-weight: bold;
}

.img-fluid {
  border-radius: 50%;
}



.jumbotron.index {
  background-image: url("https://gtmetrix.com/reports/jim-walsh.github.io/ga95gve6/pagespeed/light-grey-background-05_c24e3292f3df02431999db00aea256f8.jpg");
  background-size: cover;
}

.jumbotron.Film {
  background-image: url("https://gtmetrix.com/reports/jim-walsh.github.io/ga95gve6/pagespeed/light-grey-background-05_c24e3292f3df02431999db00aea256f8.jpg");
  background-size: cover;
}

.jumbotron.Stats {
  background-image: url("https://gtmetrix.com/reports/jim-walsh.github.io/ga95gve6/pagespeed/light-grey-background-05_c24e3292f3df02431999db00aea256f8.jpg");
  background-size: cover;
}

.jumbotron.Features {
  background-image: url("https://gtmetrix.com/reports/jim-walsh.github.io/ga95gve6/pagespeed/light-grey-background-05_c24e3292f3df02431999db00aea256f8.jpg");
  background-size: cover;
}

.jumbotron.Contact {
  background-image: url("https://gtmetrix.com/reports/jim-walsh.github.io/ga95gve6/pagespeed/light-grey-background-05_c24e3292f3df02431999db00aea256f8.jpg");
  background-size: cover;
}
